{% extends 'P_Admin.html' %}
{% block title %}
    Asistencia Admin
{% endblock %}

{% block content %}
    <body>
    <div class="container mt-4">
        <h2 class="">Tabla de Asistencia</h2>
        <table class="table text-center">
            <thead>
            <tr class="table-danger">
                <th>Cedula</th>
                <th>Curso</th>
                <th>Campus</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for asistencia in datos_asistencia %}
                <tr>
                    <td>{{ asistencia[0] }}</td>
                    <td>{{ asistencia[1] }}</td>
                    <td>{{ asistencia[2] }}</td>
                    <td>{{ asistencia[3] }}</td>
                    <td>
                        <a href="{{ url_for('editar_asistencia', usuario_id=asistencia[0]) }}" class="btn btn-info">Editar</a>
                        <a href="{{ url_for('eliminar_asistencia', usuario_id=asistencia[0]) }}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </body>
{% endblock %}