<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <style>

    </style>
</head>
<body class="text-center responsive">
<div class="container py-5 h-100">
    <div class="logo-container">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/logoISTG.png') }}" alt="Logo">
        </div>
    </div>
    {% if error %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <form method="POST" action="{{ url_for('registro') }}">
        <h2 class="mb-3 text-info">Registro Usuario</h2>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" name="nombre" class="form-control" required value="{{ request.form['nombre'] }}">
        </div>
        <div class="mb-3">
            <label for="apellido" class="form-label">Apellido:</label>
            <input type="text" name="apellido" class="form-control" required value="{{ request.form['apellido'] }}">
        </div>
        <div class="mb-3">
            <label for="cedula" class="form-label">Cedula:</label>
            <input type="text" name="cedula" class="form-control" required value="{{ request.form['cedula'] }}">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" name="email" class="form-control" required value="{{ request.form['email'] }}">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña:</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
        <br>
    </form>

    <p class="mt-2">¿Ya tienes una cuenta? <a href="{{ url_for('login') }}">Inicia Sesión</a></p>
</div>

</body>
</html>
